<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= icon_for(record) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= record.library_name %></p>
        <p class="subtitle is-6">
            <% if record.authors %>
              <%= record.authors %><br/>
            <% end %>
          <% if record.url %>
            <%= link_to record.url, record.url %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="content">
      <p>
        <%= record.library_description %>
      </p>
      <br>
      <p>
        Versions:
        <li>
          <% record.version_infos.last(5).each do |v| %>
            <ul>
              <%= "Version #{v[:number]}, Updated At: #{v[:updated_at]}, Required: #{v[:required_version]}" %>
            </ul>
          <% end %>
        </li>
      </p>
    </div>
  </div>
</div>
